body{
    margin: 0;
    padding: 0;
    background: #edeef0;  
}

*{
    font-family: 'Сomic Sans MS';
    font-size: 17px;
}

.wrapper-left{
    position: fixed;
    width: 0px;
    transition: 0.5s;
}

.show-form{
    position: absolute;
    right: -65px;
    width: 60px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid silver;
    cursor: pointer;
    background: #B5C7D3;
}

.form-wrapper{
    min-width: 300px;
    height: 100%;
    background: white;
    border: 0.4px solid silver;
    border-radius: 1px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    transform: translateX(-110%);
    transition: 0.5s;
}

.open{
   transform: translateX(0%); 
}

.form{
    position: relative;
}

.input-form{
    text-align: center;
    margin-top: 10px;
}

#file{
    margin-top: 15px;
}

#input-name{
    margin-top: 40px;
}

.img{
    position: absolute;
    top: 0px;
    left: 43%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name{
    position: absolute;
    top: 0;
    right: 20%;
}

#form_wrapper{
    width: 1000px;
    height: 50px;
    text-align: center;
    border: 0.4px solid silver;
    border-radius: 1px;
    background: white;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    line-height: 50px;
    padding-left: 40px; 
}

#grey{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    left: 0;
    top: 0;
    cursor: pointer;
}

#inside{
    position: relative;
    margin: 0 auto;
    /* margin-top: 15px; */
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 40px;
    line-height: 50px;
}

#title{
    position: absolute;
    float: left;
    bottom: 0;
    margin-bottom: 8px;
    margin-left: 15px;
    border-bottom: 1px solid #B5C7D3;
    height: 35px;
    text-align: left;
}

#task{
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #B5C7D3;
    border-radius: 5px;
}

#add{
    width: 60px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid silver;
    cursor: pointer;
    background: #B5C7D3;
}

#close{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px; 
    margin-right: 10px;
    border: 1px solid silver;
    border-radius: 1px;
    cursor: pointer;
    background: #B5C7D3;
}

.checkbox-inisde{
    float: left;
}

#popus{
    transition: all 2s ease-out;
    text-align: center;
    position: fixed;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: white;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: 10px;
}

#container_3{
    border: 0.4px solid silver;
    border-radius: 2px;
    background: white;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.container_done{
    float: right;
    width: 49%;
    text-decoration: line-through;
}

.container_first{
    float: left;
    width: 49%;
}

#text{
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #B5C7D3;
    border-radius: 4px;
}

#button{
    width: 60px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid silver;
    cursor: pointer;
    background: #B5C7D3;
}

#button:hover{
    background: #B5C7D3;
}

#container{
    border: 0.4px solid silver;
    border-radius: 1px;
    background: white;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.delete-button{
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    margin-top: 13px;
    margin-right: 15px; 
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 26px;
    float: right;
    border: 1px solid silver;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
}

.delete-button:hover{
    box-shadow: 1px 0 1px;
}

.edit-button:hover{
    box-shadow: 1px 0 1px;
}
.edit-button_2:hover{
    box-shadow: 1px 0 1px;
}

#close:hover{
  box-shadow: 1px 0 1px;  
}

.extra{
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #B5C7D3;
    border-radius: 4px;
}

.edit-button{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 40px;
    height: 24px;
    margin-right: 50px;
    margin-top: 13px;
    line-height: 24px;
    border: 1px solid silver;
    border-radius: 2px;
    cursor: pointer;
}

.edit-button_2{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 40px;
    height: 24px;
    margin-right: 50px;
    margin-top: 13px;
    line-height: 24px;
    border: 1px solid silver;
    border-radius: 2px;
    cursor: pointer; 
    padding: 0;
    text-align: center;
}

.item-inside{
    display: flex;
    justify-content: space-between;
    max-height: 80px;
}

.text-inside{
    width:350px;
    margin: 0 auto;
}

.item-img{
    position: absolute;
    top: 4.5px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}

.item-img:hover { 
    /* opacity:0.70;  */
    border: 1px solid black; 
    box-shadow: 1px 0px 1px;
}

.item{
    /* our main div */
    position: relative;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    min-height: 50px;
    border: 0.4px solid silver;
    border-radius: 4px;
    background: white;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
}

.checkbox-inisde{
    width: 15px;
    height: 15px;
}


.item:hover{
    transform: scale(1.01);
}

.item:nth-child(odd) {
    background: #B5C7D3;
}

.item:nth-child(even){
    border: 0.5px solid silver;
}

.container_done .item:nth-child(odd) {
   background: #B5C7D3;
}

@media( max-width: 400px ){
    #text{
        width: 200px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid silver;
        border-radius: 5px;
        margin-top: 10px; 
    }

     #button{
        width: 200px;
        height: 34px;
        border-radius: 5px;
        border: 1px solid silver;
        cursor: pointer;
        margin-top: 5px; 
    }

     #form_wrapper{
        line-height: 0px;
        width: 250px;
        height: 100px;
        padding-left: 0px; 
    }

     #container{
        width: 250px;
    }

     #inside{
        line-height: 0px;
        width: 260px;
        height: 100px;
        padding-left: 0px; 
    }

     #task{
        width: 200px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid silver;
        border-radius: 5px;
        margin-top: 10px; 
    }

     #add{
        width: 200px;
        height: 34px;
        border-radius: 5px;
        border: 1px solid silver;
        cursor: pointer;
        margin-top: 5px; 
    }

     #close{
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0;
        margin: 0px 2px;
        top: 11.4px;
    }

    #popus{
        width: 270px;
    }
}
